@import './style/btn.scss';
@import './style/invoices.scss';
@import './style/zeroing.scss';
@import './style/form.scss';

.container{
  max-width: 1170px;
  margin: 0px auto;
  background-color: #f1f3f6;
}




